#sliderauto{
    position: relative;
    grid-area: slider;
    width: 100%;
   
    
   }
   
   
   .slider img{
   
    
    width:100%;
    margin:auto;
    padding: 1rem;;
    
   ul{display: flex;padding: 0;width: 100%;animation:  cambio 20s infinite alternate linear;}
    
   } 
    

   
   .slider li{
    
    width: 100%;
    list-style: none;
    
   }
   
   @keyframes cambio {
   
    0% {margin-left:0%;}
     20%{margin-left:0;}
   
     25%{margin-left:-20% ;}
     30%{margin-left:-20% ;}
   
     40%{margin-left:-40% ;}
     55%{margin-left:-40% ;}
   
     60%{margin-left:-50% ;}
     75%{margin-left:-50% ;}
    
   
   
   }
   